<div id="contact">
  <div id="map-info" class="valign">
    <a href="https://www.google.com/maps/dir//1101-08+Uptown+Park+Blvd,+Houston,+TX+77056/@34.0679314,-118.3052693,15z">
      <img class="z-depth-4" id="map" src="https://i.imgur.com/kTCF9l8.png" alt="">
    </a>
  </div>
  <div id="contact-info" >
    <div>
      <p style="text-align: left;" id="address">17513 Hwy 249 Houston, TX</p>
    </div>
    <br>
    <div id="hours" style="text-align: left;">
      <p class="days"><b>Monday - Thursday</b></p>
      <p class="hours">10am - 10pm</p>
      <p class="days"><b>Friday & Saturday</b></p>
      <p class="hours">10am - 12am</p>
      <p class="days"><b>Sunday</b></p>
      <p class="hours">10am - 9pm</p>
    </div>
    <div>
      <span class="contact-icons"><a href="mailto:mintthaikitchen@gmail.com"><i class="fa fa-envelope fa-3x" style="color: black;"></i></a></span>&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;<span class="contact-icons"><a href="tel:1-626-297-9597"><i class="fa fa-phone-square fa-3x" style="color: black;"></i></a></span>&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;<span class="contact-icons"><a href="www.facebook.com/chavinv"><i class="fa fa-facebook fa-3x" style="color: black;"></i></a></span>
    </div>
  </div>
</div>
