<div id="menu">
  <section>
  <div>
    <h1>Menu</h1>
  </div>

    <ul id="appetizers">
        <h3>Appetizers</h3>
          <li ng-repeat="items in vm.all | filter:'Appetizers' ">
            {{items.name}}<br>
            {{items.description}}<br>
            {{items.amount}}<br>
            {{items.cost}}<br><br>
          </li>
    </ul>
    <ul id="salads">
      <h3>Salads</h3>
        <li ng-repeat="items in vm.all | filter:'Salads' ">
          {{items.name}}<br>
          {{items.description}}<br>
          {{items.amount}}<br>
          {{items.cost}}<br><br>
        </li>
    </ul>
    <ul id="soups">
      <h3>Soups</h3>
        <li ng-repeat="items in vm.all | filter:'Soups' ">
          {{items.name}}<br>
          {{items.description}}<br>
          {{items.amount}}<br>
          {{items.cost}}<br><br>
        </li>
    </ul>
    <ul id="noodles">
      <h3>Noodles</h3>
        <li ng-repeat="items in vm.all | filter:'Noodles' ">
          {{items.name}}<br>
          {{items.description}}<br>
          {{items.amount}}<br>
          {{items.cost}}<br><br>
        </li>
    </ul>
  </section>
</div>
